#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cell-input {
  width: 3vw;
  height: 3vw;
  font-size: 2.3vw;
  font-weight: bold;
  padding: 0.3vw;
  text-transform: uppercase;
  margin: 0.2vw;
  border-radius: 0.5vw;
  background-color: transparent;
  border: 0.1vw solid white;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  caret-color: transparent;
}

.cell-input:focus {
  border: 0.2vw solid rgb(49, 173, 255);
  outline: none;
}

.row-form {
  display: flex;
  flex-direction: row;
}